---
import { SITE_BASE, SocialLinks, WebsiteLinks } from '@/consts'
import Firma from '@/components/Firma.astro'
import Frase from '@/assets/frase.svg'
import { type Lang, useTranslations } from '@/i18n'
const t = useTranslations(Astro.currentLocale as Lang)

const locale = Astro.currentLocale as Lang
const today = new Date()
---

<footer transition:persist>
	<div
		class="app-container border-t-2 border-foreground/50 dark:border-foreground-dark/50"
	>
		<div class="flex justify-center pt-12 gap-12">
			<Frase class="w-xl h-auto" />
		</div>
		<div class="grid md:grid-cols-3 place-content-center py-12 gap-12">
			<div>
				<h3 class="font-semibold text-2xl">
					{t({ es: 'Enlaces', gl: 'Enlaces', en: 'Links' })}
				</h3>
				<div class="flex flex-wrap gap-4 mt-4">
					{
						WebsiteLinks.map((link) => (
							<a
								class="text-lg"
								href={`${SITE_BASE}/${locale}/${link.url}`}
								data-umami-event={`${link.name['es']} Footer Link`}
							>
								{link.name[locale]}
							</a>
						))
					}
				</div>
			</div>
			<div>
				<h3 class="font-semibold text-2xl">
					{t({ es: 'Redes Sociales', gl: 'Redes Sociais', en: 'Socials' })}
				</h3>
				<div class="flex flex-wrap gap-4 mt-4">
					{
						SocialLinks.map((link) => (
							<a
								class="text-lg"
								href={link.url}
								target="_blank"
								rel="nofollow"
								data-umami-event={`${link.name} Footer Link`}
							>
								{link.name}
							</a>
						))
					}
				</div>
			</div>
			<div class="flex justify-center md:justify-end">
				<Firma />
			</div>
		</div>
		<div
			class="app-container flex justify-between items-center pb-6 text-center"
		>
			<p class="text-center w-full">
				&copy; {today.getFullYear()}
				{
					t({
						es: 'Hecho con ❤️ por Pablo Portas López',
						gl: 'Feito con ❤️ por Pablo Portas López',
						en: 'Made with ❤️ by Pablo Portas López',
					})
				}
			</p>
		</div>
	</div>
</footer>
