---
import { LOCALES, useTranslations, type Lang } from '@/i18n'
const t = useTranslations(Astro.currentLocale as Lang)
import Layout from '@/layouts/Base.astro'
import { SocialLinks } from '@/consts'
import { Icon } from 'astro-icon/components'
import BlogCard from '@/components/BlogCard.astro'
import Title from '@/components/Title.astro'
import { getCollection } from 'astro:content'

const locale = Astro.currentLocale as Lang

export const getStaticPaths = () =>
	Object.keys(LOCALES).map((lang) => ({
		params: { lang },
	}))

const blog = await getCollection('blog')
// Get the 4 most recent posts in the current locale
const posts = blog
	.filter((post) => post.id.split('/')[0] === locale)
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.slice(0, 4)
// Date for newest article
const newArtDate = blog.reduce(
	(newest, post) => (post.data.pubDate > newest ? post.data.pubDate : newest),
	new Date(0)
)
---

<Layout lastModified={newArtDate.toISOString()}>
	<main
		class="app-container relative flex flex-col justify-center gap-12 py-36 pt-44 md:py-48 md:pt-56"
	>
		<div>
			<p class="mt-9 mb-4 block text-3xl opacity-70">
				{
					t({
						es: `Bienvenido al`,
						gl: `Benvido ao`,
						en: `Welcome to`,
					})
				}
			</p>
			<Title />
		</div>
		<p class="max-w-2xl text-2xl leading-normal font-light">
			{
				t({
					es: `donde hablo de las cosas que aprendo o de las que simplemente me apetecen`,
					gl: `onde falo das cousas que aprendo ou das que simplemente me apetece`,
					en: `where I talk about the things I learn or the things I just feel like`,
				})
			}
		</p>
		<div class="flex flex-wrap gap-8">
			{
				SocialLinks.map((link) => (
					<a
						class="text-primary dark:text-primary-dark hover:animate-pulse"
						href={link.url}
						aria-label={link.name}
						data-umami-event={`Social Hero Link`}
						data-umami-event-url={link.url}
						rel="noopener noreferrer me"
						target="_blank"
					>
						<Icon
							size={35}
							name={`mdi:${link.icon}`}
							class="mr-2 mb-1 inline-block"
						/>
					</a>
				))
			}
		</div>
	</main>

	<!-- Recent Posts Section -->
	<section class="app-container">
		<h2 class="section-title">
			{
				t({
					es: 'Artículos Recientes',
					gl: 'Artigos Recentes',
					en: 'Recent Posts',
				})
			}
		</h2>
		<div class="posts-grid-container">
			{posts.map((post) => <BlogCard post={post} />)}
		</div>
		<a
			class="btn-secondary"
			href={`/${locale}/posts`}
			data-umami-event="See All Posts Link"
			>{t({ es: 'Ver Más', gl: 'Ver Mais', en: 'See More' })}
			<Icon size={20} name="mdi:arrow-right" />
		</a>
	</section>

	<!-- Recent Posts Section -->
	<section class="app-container grid gap-28 py-42 lg:grid-cols-2 lg:gap-10">
		<div class="space-y-6">
			<h2 class="section-title">
				{t({ es: 'Acerca de Mí', gl: 'Sobre Min', en: 'About Me' })}
			</h2>
			<p class="max-w-xl pb-4 text-lg">
				{
					t({
						es: "A brief introduction about yourself. You can include your profession, hobbies, interests, or anything you'd like visitors to know about you.",
						gl: "A brief introduction about yourself. You can include your profession, hobbies, interests, or anything you'd like visitors to know about you.",
						en: "A brief introduction about yourself. You can include your profession, hobbies, interests, or anything you'd like visitors to know about you.",
					})
				}
			</p>
			<a
				class="btn-primary"
				href={`/${locale}/about`}
				data-umami-event="About Me Hero Link"
				>{
					t({
						es: 'Ir a Acerca de mí',
						gl: 'Ir a Sobre Min',
						en: 'Go to About',
					})
				}
				<Icon size={20} name="mdi:arrow-right" />
			</a>
		</div>
		<div class="space-y-6">
			<h2 class="section-title">
				{t({ es: 'Contáctame', gl: 'Contacta comigo', en: 'Get in touch' })}
			</h2>
			<p class="max-w-xl text-lg">
				{
					t({
						es: 'Utilice los botones a continuación para ver mi currículum y correo electrónico.',
						gl: 'Utilice os botóns a continuación para ver o meu currículo e correo electrónico.',
						en: 'Use the buttons below for my resume & email.',
					})
				}
			</p>
			<div class="mt-auto flex flex-wrap space-x-4">
				<a
					class="btn-primary"
					href="mailto:pablo.portas@udc.es"
					data-umami-event="Send Email Hero Link"
					target="_blank"
					>{t({ es: 'Enviar Correo', gl: 'Enviar Correo', en: 'Send Email' })}
					<Icon height={20} name="mdi:email" />
				</a>
				<a
					class="btn-secondary"
					data-umami-event="Download Resume Hero Link"
					href={`https://cv.pablopl.dev/${locale}/`}
					target="_blank"
					>{
						t({
							es: 'Descargar Curriculum',
							gl: 'Descargar currículo',
							en: 'Download Resume',
						})
					}
					<Icon height={20} name="mdi:arrow-collapse-down" />
				</a>
			</div>
		</div>
	</section>
</Layout>
